*{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

.p{
    color: #FFFFFF;
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 16px;
    font-weight: 400;
    //line-height: 41px;
}

.h1{
    color: #000000;
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.h2{
    color: #000000;
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.h4{
    color: #000000;
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.view{
    .p;
    font-size: 24px;
    color: #000000;
    text-decoration: underline;
}

li{
    list-style-type: none;
    margin: 0;
    color: #fff;
}

body{
    background: cover;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 92%;
    flex-shrink: 1;
    margin-left: auto;
    margin-right: auto;
    p{
        .p;
        font-size: 24px;
        flex-shrink: 1;
    }
    align-items: center;
    .navigation{
        flex-shrink: 1;
        .navigation__menu{
            display: flex;
            width: 495px;
            justify-content: space-between;
            flex-shrink: 1;
            .p;
            li{
                flex-shrink: 1;
                margin: 0 10px;
            }
        }
    }
}

.main{
    background: url(./img/girl-mountain\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 733px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .main__p{
        .p;
        margin-bottom:22px;
        max-width: 592px;
        text-align: center;
    }
}

.content{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    .country{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:100px;
        p{
            .p;
            color: #000000;
            font-size: 20px;
            max-width: 520px;
            text-align: center;
        }
        .vertical-block{
            display: flex;
            gap:144px;
            align-items: center;
            .vertical{
                .p;
                font-size: 20px;
                color: #000000;
                writing-mode: vertical-lr;
            }
        }

    }
    .navigation{
        flex-shrink: 1;
        .navigation__menu{
            display: flex;
            width: 495px;
            justify-content: space-between;
            flex-shrink: 1;
            
            .p;
            li{
                flex-shrink: 1;
                margin: 0 10px;
                color: #000000
            }
        }
    }
}

.footer{
    background-color: #202020;
    .footer__inf{
    height: 87px;
    display: flex;
    justify-content: space-between;
    width: 92%;
    align-items: center;
    margin: auto;
    img{
        height: 19px;
        width: 49px;
    }
    p{
        .p;
        font-size: 10px;
    }
    }
}


.main2{
    background: url(./img/girl-mountain\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 733px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .main__p{
    .p;
    font-size: 96px;
    font-weight: 700;
    margin-left: 107px;
    margin-bottom: 231px;
    max-width: 244px;
    }
}



.content2{
margin:100px 108px;
    h1{
        .h1;
        text-align: end;
        margin-bottom: 100px;
    }
    p{
        .p;
        color: #000000;
        max-width: 829px;
        margin-bottom: 115px;
    }
    .price{
        display: flex;
        height: 63px;
        align-content: center;
        margin-bottom: 132px;
            .buy{
                background-color: #000; 
                color: #fff;
                padding: 10px 20px;
                font-size: 16px;
                transform: skew(-20deg);
                cursor: pointer;
                text-transform: uppercase; 
                text-decoration: underline; 
                margin-right: 67px;
                width: 136px
            }
            p{
                .p;
                color: black;
                font-size: 36px;
                margin-left: 27px;
            }
    }
    .container{
    h2{
        .h2;
        text-align:center;
        margin-bottom: 125px;
    }
    .photo{
        max-width: 937px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        row-gap: 200px;
        .text{
            display: flex;
            align-content: center;
            p{
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 32px;
                max-width: 287px;
            }
        }
        p{
            .p;
            max-width: 260px;
            color: #000;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 187px;
        }
    }
    }
    .content2_p{
        .p;
        color: #000;
        max-width: 829px;
        margin: auto;
        margin-top: 200px;
    }
    .explore-world{
        .h2;
        text-decoration: underline;
        margin-top:64px;
        margin-bottom: 180px;
        text-align:center;
    }
}

.header3{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 92%;
    flex-shrink: 1;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    p{
        .p;
        font-size: 24px;
        flex-shrink: 1;
        color: #000;
    }
    align-items: center;
    .navigation{
        flex-shrink: 1;
        color: #000;
        .navigation__menu{
            display: flex;
            width: 495px;
            justify-content: space-between;
            flex-shrink: 1;
            color: #000;
            .p;
            li{
                flex-shrink: 1;
                margin: 0 10px;
                color: #000;
            }
        }
    }
}

.content3{
    h1{
        .h1;
        text-align:center;
        margin-top: 100px;
        margin-bottom: 57px;
    }
    .content3__menu{
        display: flex;
        justify-content: center;
        li{
            .p;
            color: #000;
            margin-left:15px;
            margin-right: 15px;
            margin-bottom: 150px;
        }
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        row-gap: 128px;
        column-gap: 128px;
        margin-left: 144px;
        margin-right: 144px;
        justify-content: center;
        margin-bottom: 180px;
        .card{
            display: flex;
            flex-direction: column;
            gap: 15px;
            p, span{
                .p;
                color: #000;
            }
            h4{
                .h4;
            }
        }
    }
}